.menu-bar {
    height: 25%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    /*width: 50%;*/
    max-width: 200px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .menu-bar.open {
    transform: translateX(0);
  }
  
  .menu-bar ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .menu-bar li {
    margin: 0.5rem 0;
  }
  
  .menu-bar a {
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .menu-bar a:hover,
  .menu-bar a:active {
    color: #fa923f;
  }
  
  /* if width >= 768px*/
  @media (min-width: 769px) {
      .menu-bar {
          display: none;
      }
  }
  